*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.VopUUeSy8gssWq4uAr3yfgHaDQ&pid=Api&P=0&h=220");
    background-repeat: no-repeat;
    background-size: cover;
    
}



.head{
    text-transform: uppercase;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: cover;
    text-align: center;
    position: relative;
    top: 5vh;
    
    padding: 1vh;
}

.head{
    overflow: hidden; /* Ensure text doesn't overflow */
    border-right: .15em solid black; /*Cursor effect*/
    white-space: nowrap; /* Keep text in a single line */
    margin: 0 auto; /* Center the heading */
    letter-spacing: .10em; /* Adjust letter spacing for typewriter effect */
    animation: typing 5s steps(20) forwards; /* Apply the animation */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }

}

.navbar {
    border: 1px solid rgb(164, 162, 162);
    background-color: rgb(34, 33, 32);
    display: flex;
    position:sticky;
    background: linear-gradient(to right, #e166f1, #e3e8e8);

}

.navbar nav li {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 1vw;
    padding-top: 1vh;
    
}

.navbar nav li a {
    /* list-style: none; */
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: rgb(103, 175, 203);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: large;
    position: sticky;
    

    color: #0d0f10;
    font-weight: bold;
    transition: color 0.3s; /* Add a transition for color change */

       
    }
    

    .navbar a:hover {
        color: #f3f0ef; /* Change the color on hover */
    }    


    

    .sample{
        position: relative;
        top: 10em;
        display: inline-flex;
        justify-content: space-between;
        right: 2vw;
 

    }



    .sample_head heading{
        font-size: 2em;
        text-align: center;
        text-transform:uppercase;
        text-decoration: wavy;
        text-indent: 2px;
        position: relative;
        top:20vh;
        left: 50vw;
        
    }

    
    


     .sample1 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
        position: relative;
        left: 10vh;
        top:30vh;
    }

    .sample2 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
        position: relative;
        left: 20vh;
        top:30vh;
        
    }

    .sample3 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
        position: relative;
        left: 30vh;
        top:30vh;
    }

    .sample4 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
        position: relative;
        left: 40vh;
        top:30vh;
    }

    .blocks h2{
        font-size: 1em;
        text-align: center;
        text-transform:uppercase;
        text-decoration: wavy;
        text-indent: 2px;
      
    }

    .blocks{
        left: 20%;
        position: relative;
        top: 10em;
        display: inline-flex;
        justify-content: space-between;
    }

   
    .block1 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
        

    }
    

    .block2 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;

    }
   
    .block3 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
    }
    
    .block4 img{
        width: 15vw;
        height: 25vh;
        padding-right: 5vh;
    }


    .foot{
        display: flex;
        position: relative;
        top: 60vh;
        border: 2px solid black;
        padding-bottom:5vh ;
        background: linear-gradient(to right, #e166f1, #e3e8e8);
    }

    .foot p{
        padding-top: 5vh;
        position: relative;
        left: 45%;
        
        text-align: center;

        
    }